.divIcon {
  position: absolute;
  top: 0.36rem;
  left: 0.36rem;
  width: 1.07rem;
  height: 1.07rem;
}
.divheaderActionItem,
.divheaderActionItemIcon {
  position: absolute;
  top: 0;
  border-radius: 7142.14px;
  width: 1.79rem;
  height: 1.79rem;
}
.divheaderActionItem {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-400);
  left: 0.18rem;
}
.divheaderActionItemIcon {
  left: 2.32rem;
  display: none;
}
.divheaderAction {
  position: absolute;
  top: 0.56rem;
  left: 0.71rem;
  background-color: var(--color-gray-400);
  width: 4.29rem;
  height: 1.79rem;
}
.divheaderWrapper,
.svgIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.divheaderWrapper {
  background-color: var(--color-gray-400);
  width: 43.43rem;
  height: 2.9rem;
}
.svgIcon {
  width: 1.07rem;
  height: 1.07rem;
  overflow: hidden;
}
.spanbadgeDot {
  position: absolute;
  top: -0.04rem;
  left: 0.63rem;
  border-radius: 7142.14px;
  background-color: var(--color-crimson-100);
  width: 0.36rem;
  height: 0.36rem;
}
.spanbadgeWrapper {
  position: absolute;
  top: 0.36rem;
  left: 0.36rem;
  width: 1.07rem;
  height: 1.07rem;
}
.div,
.spanbadgeWrapper {
  background-color: var(--color-gray-400);
}
.div,
.divIcon1,
.spanavatarIcon {
  position: relative;
  border-radius: 7142.14px;
  width: 1.79rem;
  height: 1.79rem;
}
.spanavatarIcon {
  position: absolute;
  top: 0.44rem;
  left: 0.36rem;
  width: 1.48rem;
  height: 1.48rem;
}
.admin {
  position: absolute;
  top: 0.03rem;
  left: 0;
  line-height: 0.71rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 1.6rem;
  height: 0.63rem;
}
.divtextXs {
  top: 0;
  background-color: var(--color-gray-400);
  height: 0.71rem;
}
.abdurrahman,
.divfontBold,
.divtextXs {
  position: absolute;
  left: 0;
  width: 4.22rem;
}
.abdurrahman {
  top: 0.09rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  height: 0.74rem;
}
.divfontBold {
  top: 0.71rem;
  height: 0.94rem;
  font-size: var(--font-size-3xs);
}
.divfontBold,
.divheaderActionItem2,
.divhidden {
  background-color: var(--color-gray-400);
}
.divhidden {
  position: absolute;
  top: 0.36rem;
  left: 2.14rem;
  width: 4.22rem;
  height: 1.65rem;
}
.divheaderActionItem2 {
  position: relative;
  border-radius: 7142.14px;
  width: 6.73rem;
  height: 2.37rem;
}
.divheaderAction1 {
  position: absolute;
  top: calc(50% - 18.55px);
  right: 1.8rem;
  background-color: var(--color-gray-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.18rem;
  gap: 0.36rem;
}
.headerheader {
  position: absolute;
  top: 0;
  left: calc(50% - 425px);
  background-color: var(--label-color-dark-primary);
  border-bottom: 0.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 53.13rem;
  height: 2.86rem;
}
.asset84xIcon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.asset84xIcon,
.divlogo,
.logo {
  position: absolute;
}
.logo {
  top: 0.64rem;
  left: 0.01rem;
  width: 7.81rem;
  height: 1.56rem;
}
.divlogo {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 9.04rem;
  height: 2.86rem;
}
.phone {
  top: 0;
  left: 0;
  text-decoration: underline;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  width: 2.04rem;
  height: 0.74rem;
}
.abbr,
.div3,
.phone {
  position: absolute;
}
.abbr {
  top: 4.15rem;
  left: 0;
  background-color: var(--color-gray-400);
  width: 2.04rem;
  height: 0.74rem;
}
.div3 {
  top: 4.06rem;
  left: 2.04rem;
  line-height: 0.94rem;
}
.balapokunaRoad,
.dehiwallaColombo,
.vegatisePvt {
  position: absolute;
  top: 3.13rem;
  left: 0;
  line-height: 0.94rem;
}
.balapokunaRoad,
.vegatisePvt {
  top: 2.19rem;
}
.vegatisePvt {
  top: -0.01rem;
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--color-gray-300);
}
.div1,
.div2 {
  position: absolute;
  background-color: var(--color-gray-400);
}
.div2 {
  top: 3.41rem;
  left: 0.01rem;
  width: 12.46rem;
  height: 5rem;
}
.div1 {
  top: 0;
  left: 0;
  width: 9.04rem;
  height: 9.64rem;
}
.invoice {
  top: 0;
  left: 0;
  line-height: 1.25rem;
  font-weight: 600;
}
.div6,
.h4,
.invoice {
  position: absolute;
}
.div6 {
  top: 0.09rem;
  left: 3.89rem;
  line-height: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 2.85rem;
  height: 1.07rem;
}
.h4 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 11.32rem;
  height: 1.25rem;
}
.date,
.friday04May {
  position: absolute;
  line-height: 0.94rem;
}
.date {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 1.56rem;
  height: 0.74rem;
}
.friday04May {
  top: -0.09rem;
  left: 1.74rem;
}
.div5,
.span,
.svgIcon1 {
  position: absolute;
  left: 0;
}
.span {
  top: 1.34rem;
  background-color: var(--color-gray-400);
  width: 8.58rem;
  height: 0.74rem;
  font-size: var(--font-size-3xs);
  color: var(--color-slategray);
}
.div5,
.svgIcon1 {
  top: 0;
}
.div5 {
  background-color: var(--color-gray-400);
  width: 11.32rem;
  height: 2.19rem;
  font-size: 0.89rem;
}
.svgIcon1 {
  width: 0.89rem;
  height: 0.89rem;
  overflow: hidden;
}
.balapokunaRoadDehiwala {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0.94rem;
}
.div10,
.div9 {
  position: absolute;
  left: 0;
  background-color: var(--color-gray-400);
  width: 9.89rem;
  height: 0.94rem;
}
.div9 {
  top: 0;
}
.div10 {
  top: 1.12rem;
}
.div8 {
  top: 0;
  left: 1.43rem;
  width: 9.89rem;
  height: 2.23rem;
}
.div11,
.div12,
.div7,
.div8 {
  position: absolute;
  background-color: var(--color-gray-400);
}
.div7 {
  top: 4.33rem;
  left: 0;
  width: 11.32rem;
  height: 2.23rem;
  color: var(--color-slategray);
}
.div11,
.div12 {
  height: 0.94rem;
}
.div12 {
  top: 0;
  left: 1.43rem;
  width: 4.77rem;
}
.div11 {
  top: 7.28rem;
  left: 0;
  width: 11.32rem;
  color: var(--color-slategray);
}
.abdurrahmanIthisham {
  position: absolute;
  top: 2.73rem;
  left: 0;
  font-size: 0.71rem;
  line-height: 1.07rem;
  font-weight: 600;
}
.div4,
.divflex {
  position: absolute;
  background-color: var(--color-gray-400);
}
.div4 {
  top: 0.71rem;
  left: 27.4rem;
  width: 11.32rem;
  height: 8.21rem;
  color: var(--color-gray-300);
}
.divflex {
  top: 0.89rem;
  left: 0.89rem;
  width: 38.72rem;
  height: 9.64rem;
}
.product {
  position: absolute;
  top: 0.56rem;
  left: 1.07rem;
  letter-spacing: 0.43px;
  line-height: 0.71rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 2.83rem;
  height: 0.63rem;
}
.th {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 15.03rem;
  height: 1.8rem;
}
.price,
.th,
.th1 {
  position: absolute;
}
.price {
  top: 0.56rem;
  left: 1.07rem;
  letter-spacing: 0.43px;
  line-height: 0.71rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 1.7rem;
  height: 0.63rem;
}
.th1 {
  top: 0;
  left: 15.03rem;
  background-color: var(--color-gray-400);
  width: 6.75rem;
  height: 1.8rem;
}
.quantity {
  top: 0.56rem;
  left: 1.07rem;
  letter-spacing: 0.43px;
  line-height: 0.71rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 3.04rem;
  height: 0.63rem;
}
.quantity,
.th2,
.total {
  position: absolute;
}
.th2 {
  top: 0;
  left: 21.78rem;
  background-color: var(--color-gray-400);
  width: 8.95rem;
  height: 1.8rem;
}
.total {
  top: 0.56rem;
  left: 1.07rem;
  letter-spacing: 0.43px;
  line-height: 0.71rem;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 1.87rem;
  height: 0.63rem;
}
.th3,
.tr {
  top: 0;
  background-color: var(--color-gray-400);
  height: 1.8rem;
}
.th3 {
  position: absolute;
  left: 30.73rem;
  width: 7.99rem;
}
.tr {
  left: 0;
  width: 38.72rem;
}
.month,
.thead,
.tr {
  position: absolute;
}
.thead {
  top: 0;
  left: 0;
  background-color: #f9fafb;
  width: 38.72rem;
  height: 1.8rem;
  font-size: 0.54rem;
}
.month {
  top: -0.11rem;
  left: 0.01rem;
  line-height: 0.94rem;
  text-transform: capitalize;
}
.div16,
.spancapitalize {
  position: absolute;
  height: 0.74rem;
}
.div16 {
  top: 0;
  left: 1.94rem;
  line-height: 0.94rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 0.35rem;
}
.spancapitalize {
  top: 0.09rem;
  left: 0;
  background-color: var(--color-gray-400);
  width: 1.93rem;
}
.months {
  position: absolute;
  top: 0.03rem;
  left: 2.29rem;
  line-height: 0.94rem;
  font-weight: 600;
}
.div15,
.div17 {
  position: absolute;
  top: 1.43rem;
  left: 0;
  background-color: var(--color-gray-400);
  width: 5.59rem;
  height: 0.94rem;
}
.div17 {
  top: 2.54rem;
}
.fullWrapCampaign {
  position: absolute;
  top: -0.04rem;
  left: 0;
  font-size: 0.71rem;
  line-height: 1.07rem;
  font-weight: 600;
  color: var(--color-gray-300);
}
.div14,
.td {
  background-color: var(--color-gray-400);
}
.div14 {
  position: absolute;
  top: 0.73rem;
  left: 1.43rem;
  width: 5.59rem;
  height: 3.66rem;
}
.td {
  top: 0;
  left: 0;
  width: 15.03rem;
  height: 5.12rem;
}
.div18,
.td,
.td1 {
  position: absolute;
}
.div18 {
  top: 2.09rem;
  left: 1.07rem;
  line-height: 0.94rem;
}
.td1 {
  top: 0;
  left: 15.03rem;
  background-color: var(--color-gray-400);
  width: 6.75rem;
  height: 5.12rem;
}
.div19 {
  top: 2.18rem;
  left: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  width: 0.38rem;
  height: 0.74rem;
}
.div19,
.div20,
.td2 {
  position: absolute;
}
.td2 {
  top: 0;
  left: 21.78rem;
  background-color: var(--color-gray-400);
  width: 8.95rem;
  height: 5.12rem;
}
.div20 {
  top: 2.18rem;
  left: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  width: 2.48rem;
  height: 0.74rem;
}
.td3,
.tr1 {
  position: absolute;
  top: 0;
  background-color: var(--color-gray-400);
  height: 5.12rem;
}
.td3 {
  left: 30.73rem;
  width: 7.99rem;
}
.tr1 {
  left: 0;
  width: 38.72rem;
}
.div23,
.month1,
.months1 {
  position: absolute;
  line-height: 0.94rem;
}
.month1 {
  top: -0.09rem;
  left: 0;
  text-transform: capitalize;
}
.div23,
.months1 {
  top: 0;
}
.div23 {
  left: 1.98rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 0.35rem;
  height: 0.74rem;
}
.months1 {
  left: 2.34rem;
  font-weight: 600;
}
.div21,
.div22 {
  position: absolute;
  background-color: var(--color-gray-400);
  width: 6.64rem;
}
.div22 {
  top: 1.43rem;
  left: 0;
  height: 0.94rem;
}
.div21 {
  top: 0.73rem;
  left: 1.43rem;
  height: 3.66rem;
}
.div24 {
  top: 2.18rem;
  left: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  width: 2.49rem;
  height: 0.74rem;
}
.div24,
.div25,
.tr2 {
  position: absolute;
}
.div25 {
  top: 2.18rem;
  left: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  width: 0.29rem;
  height: 0.74rem;
}
.tr2 {
  top: 5.12rem;
  left: 0;
  background-color: var(--color-gray-400);
  border-top: 0.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 38.72rem;
  height: 5.12rem;
}
.digitalWebAttribution {
  position: absolute;
  top: -0.03rem;
  left: 0.01rem;
  line-height: 1.07rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 12.59rem;
}
.div27,
.div28 {
  background-color: var(--color-gray-400);
}
.div28 {
  position: absolute;
  top: 2.51rem;
  left: 0.01rem;
  width: 6.64rem;
  height: 0.94rem;
  font-size: var(--font-size-3xs);
  color: var(--color-slategray);
}
.div27 {
  top: 0.73rem;
  left: 1.43rem;
  width: 7.83rem;
  height: 2.54rem;
}
.div27,
.div30,
.td8 {
  position: absolute;
}
.td8 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 15.03rem;
  height: 4rem;
  font-size: 0.71rem;
  color: var(--color-gray-300);
}
.div30 {
  top: 1.63rem;
  left: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  width: 2.49rem;
  height: 0.74rem;
}
.td9 {
  top: 0;
  left: 15.03rem;
  background-color: var(--color-gray-400);
  width: 6.75rem;
  height: 4rem;
}
.div31,
.td10,
.td9 {
  position: absolute;
}
.div31 {
  top: 1.63rem;
  left: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  width: 0.29rem;
  height: 0.74rem;
}
.td10 {
  top: 0;
  left: 21.78rem;
  width: 8.95rem;
  height: 4rem;
}
.tbody,
.td10,
.td11,
.tr3 {
  background-color: var(--color-gray-400);
}
.td11 {
  position: absolute;
  top: 0;
  left: 30.73rem;
  width: 7.99rem;
  height: 4rem;
}
.tbody,
.tr3 {
  left: 0;
  border-top: 0.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 38.72rem;
}
.tr3 {
  position: absolute;
  top: 10.24rem;
  height: 4rem;
}
.tbody {
  top: 1.8rem;
  height: 14.24rem;
}
.subtotal,
.tbody,
.td12 {
  position: absolute;
}
.td12 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 21.78rem;
  height: 2.74rem;
}
.subtotal {
  top: 1rem;
  left: 1.07rem;
  line-height: 0.94rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 2.56rem;
  height: 0.74rem;
}
.tdfontSemibold {
  position: absolute;
  top: 0;
  left: 21.78rem;
  background-color: var(--color-gray-400);
  width: 8.95rem;
  height: 2.74rem;
}
.div33 {
  position: absolute;
  top: 1rem;
  left: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  width: 2.88rem;
  height: 0.74rem;
}
.td13,
.td14,
.tr4 {
  position: absolute;
  top: 0;
  background-color: var(--color-gray-400);
  height: 2.74rem;
}
.td13 {
  left: 30.73rem;
  width: 7.99rem;
}
.td14,
.tr4 {
  left: 0;
  width: 38.72rem;
}
.td14 {
  width: 21.78rem;
  height: 2.73rem;
}
.handlingFee {
  position: absolute;
  top: 0.89rem;
  left: 1.07rem;
  line-height: 0.94rem;
  font-weight: 600;
}
.tdfontSemibold1 {
  position: absolute;
  top: 0;
  left: 21.78rem;
  background-color: var(--color-gray-400);
  width: 8.95rem;
  height: 2.73rem;
}
.div34 {
  position: absolute;
  top: 0.98rem;
  left: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  width: 1.99rem;
  height: 0.74rem;
}
.td15,
.tr5 {
  position: absolute;
  background-color: var(--color-gray-400);
  height: 2.73rem;
}
.td15 {
  top: 0;
  left: 30.73rem;
  width: 7.99rem;
}
.tr5 {
  top: 2.74rem;
  left: 0;
  width: 38.72rem;
}
.div35,
.tax6 {
  position: absolute;
  top: 0.98rem;
  left: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  height: 0.74rem;
}
.tax6 {
  font-weight: 600;
  width: 2.5rem;
}
.div35 {
  width: 2.34rem;
}
.td18,
.tr6 {
  position: absolute;
  left: 0;
  background-color: var(--color-gray-400);
}
.tr6 {
  top: 5.46rem;
  width: 38.72rem;
  height: 2.74rem;
}
.td18 {
  top: 0;
  width: 21.78rem;
  height: 2.88rem;
}
.grandTotal {
  position: absolute;
  top: 1rem;
  left: 1.07rem;
  line-height: 1.07rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 4.01rem;
  height: 0.86rem;
}
.tdfontSemibold3 {
  position: absolute;
  top: 0;
  left: 21.78rem;
  background-color: var(--color-gray-400);
  border-top: 0.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 8.95rem;
  height: 2.88rem;
}
.div36 {
  position: absolute;
  top: 1rem;
  left: 1.07rem;
  line-height: 1.07rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 3.35rem;
  height: 0.86rem;
}
.tdfontSemibold4 {
  position: absolute;
  top: 0;
  left: 30.73rem;
  background-color: var(--color-gray-400);
  border-top: 0.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 7.99rem;
  height: 2.88rem;
}
.tr7 {
  top: 8.2rem;
  left: 0;
  height: 2.88rem;
  font-size: 0.71rem;
}
.tabletableDefault,
.tfoot,
.tr7 {
  position: absolute;
  background-color: var(--color-gray-400);
  width: 38.72rem;
}
.tfoot {
  top: 16.94rem;
  left: 0;
  border-top: 0.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  height: 11.07rem;
}
.tabletableDefault {
  top: 12.32rem;
  left: 0.89rem;
  height: 27.11rem;
}
.print {
  position: absolute;
  top: 0.6rem;
  left: 1.43rem;
  font-size: var(--font-size-3xs);
  line-height: 0.94rem;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--label-color-dark-primary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.43rem;
  height: 0.74rem;
}
.buttonbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #e54646;
  position: absolute;
  top: 1.34rem;
  left: 33.54rem;
  border-radius: 4.29px;
  width: 4.29rem;
  height: 1.96rem;
}
.div37,
.divcardBody {
  position: absolute;
  top: 40.51rem;
  left: 0.89rem;
  background-color: var(--color-gray-400);
  width: 38.72rem;
  height: 1.96rem;
}
.divcardBody {
  top: 0.03rem;
  left: 0.03rem;
  width: 40.51rem;
  height: 43.53rem;
}
.invoiceWasCreated {
  position: absolute;
  top: 43.84rem;
  left: 1.02rem;
  font-size: 0.5rem;
  line-height: 0.75rem;
  display: flex;
  align-items: center;
  width: 18.49rem;
  height: 0.59rem;
}
.divcard {
  position: absolute;
  top: 8.08rem;
  left: calc(50% - 325px);
  border-radius: 5.71px;
  background-color: var(--label-color-dark-primary);
  border: 2.1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 40.58rem;
  height: 44.96rem;
  font-size: var(--font-size-3xs);
}
.invoice1 {
  position: absolute;
  top: 5.09rem;
  left: 2.68rem;
  font-size: 1.07rem;
  line-height: 0.94rem;
  display: flex;
  font-family: var(--other-other-regular);
  color: var(--color-darkslategray-300);
  align-items: center;
  width: 6.83rem;
  height: 0.76rem;
}
.billingInvoice,
.headerheaderParent {
  background-color: var(--label-color-dark-primary);
  height: 54.6rem;
  overflow: hidden;
}
.headerheaderParent {
  position: absolute;
  top: calc(50% - 436.8px);
  left: 0;
  width: 53.13rem;
}
.billingInvoice {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 0.54rem;
  color: var(--color-slategray);
  font-family: var(--font-inter);
}
