.divIcon {
  position: absolute;
  top: 0.36rem;
  left: 0.36rem;
  width: 1.07rem;
  height: 1.07rem;
}
.divheaderActionItem,
.divheaderActionItemIcon {
  position: absolute;
  top: 0;
  border-radius: 7142.14px;
  width: 1.79rem;
  height: 1.79rem;
}
.divheaderActionItem {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-400);
  left: 0.18rem;
}
.divheaderActionItemIcon {
  left: 2.32rem;
  display: none;
}
.divheaderAction {
  position: absolute;
  top: 0.56rem;
  left: 0.71rem;
  background-color: var(--color-gray-400);
  width: 4.29rem;
  height: 1.79rem;
}
.divheaderWrapper,
.svgIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.divheaderWrapper {
  background-color: var(--color-gray-400);
  width: 43.43rem;
  height: 2.9rem;
}
.svgIcon {
  width: 1.07rem;
  height: 1.07rem;
  overflow: hidden;
}
.spanbadgeDot {
  position: absolute;
  top: -0.04rem;
  left: 0.63rem;
  border-radius: 7142.14px;
  background-color: var(--color-crimson-100);
  width: 0.36rem;
  height: 0.36rem;
}
.spanbadgeWrapper {
  position: absolute;
  top: 0.36rem;
  left: 0.36rem;
  width: 1.07rem;
  height: 1.07rem;
}
.div,
.spanbadgeWrapper {
  background-color: var(--color-gray-400);
}
.div,
.divIcon1,
.spanavatarIcon {
  position: relative;
  border-radius: 7142.14px;
  width: 1.79rem;
  height: 1.79rem;
}
.spanavatarIcon {
  position: absolute;
  top: 0.44rem;
  left: 0.36rem;
  width: 1.48rem;
  height: 1.48rem;
}
.admin {
  position: absolute;
  top: 0.03rem;
  left: 0;
  line-height: 0.71rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  width: 1.6rem;
  height: 0.63rem;
}
.divtextXs {
  top: 0;
  background-color: var(--color-gray-400);
  height: 0.71rem;
}
.abdurrahman,
.divfontBold,
.divtextXs {
  position: absolute;
  left: 0;
  width: 4.22rem;
}
.abdurrahman {
  top: 0.09rem;
  line-height: 0.94rem;
  display: flex;
  align-items: center;
  height: 0.74rem;
}
.divfontBold {
  top: 0.71rem;
  height: 0.94rem;
  font-size: var(--font-size-3xs);
}
.divfontBold,
.divheaderActionItem2,
.divhidden {
  background-color: var(--color-gray-400);
}
.divhidden {
  position: absolute;
  top: 0.36rem;
  left: 2.14rem;
  width: 4.22rem;
  height: 1.65rem;
}
.divheaderActionItem2 {
  position: relative;
  border-radius: 7142.14px;
  width: 6.73rem;
  height: 2.37rem;
}
.divheaderAction1 {
  position: absolute;
  top: calc(50% - 18.55px);
  right: 1.8rem;
  background-color: var(--color-gray-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.18rem;
  gap: 0.36rem;
}
.headerheader {
  position: absolute;
  top: 0;
  left: calc(50% - 425px);
  background-color: var(--white);
  border-bottom: 0.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 53.13rem;
  height: 2.86rem;
  font-size: 0.54rem;
  color: var(--color-slategray);
  font-family: var(--font-inter);
}
.driverList {
  position: absolute;
  top: 5.04rem;
  left: 2.68rem;
  font-size: 0.89rem;
  font-weight: 600;
  color: var(--color-orangered-100);
}
.manageYourDrivers {
  position: absolute;
  top: 6.43rem;
  left: 2.68rem;
  font-size: 0.67rem;
  color: #4c4f69;
}
.searchbar2Fig4 {
  background-color: transparent;
  position: absolute;
  top: 8.88rem;
  left: 2.86rem;
}
.frameChild,
.searchbar2Fig41,
.searchbar2Fig42 {
  position: absolute;
  top: 8.88rem;
  left: 21.29rem;
}
.frameChild,
.searchbar2Fig42 {
  left: 14.56rem;
}
.frameChild {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: rgba(227, 7, 0, 0.67);
  top: 13.79rem;
  left: 2.86rem;
  border-radius: 7.14px;
  box-shadow: 0 2.9px 10px rgba(0, 0, 0, 0.23);
  width: 45.31rem;
  height: 2.23rem;
}
.frameItem {
  position: absolute;
  top: 14.51rem;
  left: 3.79rem;
  border-radius: 3.57px;
  background-color: #82cd23;
  width: 0.81rem;
  height: 0.81rem;
}
.frameInner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 7.14px;
  background-color: var(--white);
}
.rectangleDiv {
  position: absolute;
  top: 0.71rem;
  left: 0.94rem;
  border-radius: 3.57px;
  background-color: var(--color-lightsteelblue);
  width: 0.81rem;
  height: 0.81rem;
}
.vectorIcon {
  position: absolute;
  height: 50.14%;
  width: 2.47%;
  top: 24.09%;
  right: 90.92%;
  bottom: 25.77%;
  left: 6.61%;
  border-radius: 2.86px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangleGroup,
.rectangleParent {
  position: absolute;
  top: 16.34rem;
  left: 2.86rem;
  width: 45.31rem;
  height: 2.23rem;
  overflow: hidden;
}
.rectangleGroup {
  top: 18.88rem;
}
.frameDiv,
.rectangleContainer,
.rectangleParent1,
.rectangleParent2,
.rectangleParent3 {
  position: absolute;
  top: 21.43rem;
  left: 2.86rem;
  width: 45.31rem;
  height: 2.23rem;
  overflow: hidden;
}
.frameDiv,
.rectangleParent1,
.rectangleParent2,
.rectangleParent3 {
  top: 23.98rem;
}
.rectangleParent1,
.rectangleParent2,
.rectangleParent3 {
  top: 26.52rem;
}
.rectangleParent2,
.rectangleParent3 {
  top: 29.06rem;
}
.rectangleParent3 {
  top: 31.61rem;
}
.name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-3xs);
  color: var(--gray-2);
}
.eleanorPena,
.jacobJones {
  position: absolute;
  left: 2.41rem;
  font-weight: 600;
}
.jacobJones {
  top: 2.19rem;
  text-decoration: underline;
  color: var(--white);
}
.eleanorPena {
  top: 4.64rem;
}
.annetteBlack,
.brooklynSimmons,
.darleneRobertson,
.robertFox {
  position: absolute;
  top: 7.19rem;
  left: 2.41rem;
  font-weight: 600;
}
.annetteBlack,
.darleneRobertson,
.robertFox {
  top: 9.73rem;
}
.darleneRobertson,
.robertFox {
  top: 12.28rem;
}
.robertFox {
  top: 14.82rem;
}
.courtneyHenry,
.estherHoward,
.floydMiles,
.theresaWebb {
  position: absolute;
  top: 17.37rem;
  left: 2.41rem;
  font-weight: 600;
}
.courtneyHenry,
.estherHoward,
.floydMiles {
  top: 19.91rem;
}
.courtneyHenry,
.estherHoward {
  top: 22.46rem;
}
.estherHoward {
  top: 25rem;
}
.nameParent {
  position: absolute;
  top: 12.37rem;
  left: 5.85rem;
  width: 8.29rem;
  height: 25.88rem;
}
.vectorIcon7 {
  position: absolute;
  height: 2.78%;
  width: 2.11%;
  top: 35.78%;
  right: 86.88%;
  bottom: 61.44%;
  left: 11.01%;
  border-radius: 2.86px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.jacksongrahamexamplecom {
  position: absolute;
  top: 2.19rem;
  left: 0;
  text-decoration: underline;
  font-weight: 500;
  color: var(--white);
}
.georgiayoungexamplecom {
  position: absolute;
  top: 4.64rem;
  left: 0;
  font-weight: 500;
}
.curtisweaverexamplecom,
.saracruzexamplecom {
  position: absolute;
  top: 7.19rem;
  left: 0;
  font-weight: 500;
}
.curtisweaverexamplecom {
  top: 9.73rem;
}
.debbiebakerexamplecom,
.doloreschambersexamplecom {
  position: absolute;
  top: 12.28rem;
  left: 0;
  font-weight: 500;
}
.debbiebakerexamplecom {
  top: 14.82rem;
}
.deannacurtisexamplecom,
.jessicahansonexamplecom {
  position: absolute;
  top: 17.37rem;
  left: 0;
  font-weight: 500;
}
.deannacurtisexamplecom {
  top: 19.91rem;
}
.michaelmitcexamplecom,
.tanyahillexamplecom {
  position: absolute;
  top: 22.46rem;
  left: 0;
  font-weight: 500;
}
.tanyahillexamplecom {
  top: 25rem;
}
.jacksongrahamexamplecomParent,
.parent {
  position: absolute;
  top: 12.37rem;
  left: 15.67rem;
  width: 10.56rem;
  height: 25.88rem;
}
.parent {
  left: 27.63rem;
  width: 4.81rem;
}
.inProgress {
  position: absolute;
  top: 2.19rem;
  left: 0;
  font-weight: 500;
  color: var(--white);
}
.inProgressParent {
  position: absolute;
  top: 12.37rem;
  left: 33.79rem;
  width: 4.88rem;
  height: 25.88rem;
}
.div11 {
  position: absolute;
  top: 25.04rem;
  left: 2.41rem;
  font-weight: 500;
}
.groupIcon,
.nov5202043543Parent {
  position: absolute;
  top: 12.32rem;
  left: 40.13rem;
  width: 6.31rem;
  height: 25.92rem;
}
.groupIcon {
  top: 14.56rem;
  left: 49.02rem;
  width: 0.23rem;
  height: 23.13rem;
}
.comingSoon,
.headerheaderParent {
  background-color: var(--white);
  height: 40.18rem;
}
.headerheaderParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 53.13rem;
  overflow: hidden;
}
.comingSoon {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 0.71rem;
  color: var(--black-2);
  font-family: var(--font-urbanist);
}
