.welcome {
  margin: 0;
}
.welcomeStartYourContainer1 {
  line-break: anywhere;
  width: 100%;
}
.welcomeStartYourContainer {
  position: relative;
  line-height: 120%;
  display: flex;
  font-weight: 300;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.44));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  width: 29.94rem;
}
.bg {
  background: linear-gradient(
    180deg,
    rgba(218, 34, 34, 0.88),
    rgba(218, 89, 34, 0.85)
  );
  width: 35.81rem;
  height: 56.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.25rem 2.19rem;
  box-sizing: border-box;
}
.createAnAccount,
.welcomeBack {
  position: relative;
  line-height: 100%;
}
.welcomeBack {
  display: none;
}
.createAnAccount {
  margin: 0;
  font-size: var(--heading-size);
  font-weight: 600;
  font-family: inherit;
  color: var(--text-primary);
}
.welcomeBackParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3.81rem;
  gap: var(--gap-base);
}
.email {
  flex: 1;
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.emailWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.forgot {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
  color: var(--color-red-200);
  text-align: right;
  display: none;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.loginNow {
  position: relative;
  font-size: var(--body-large-semibold-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--body-large-semibold);
  color: var(--white);
  text-align: left;
}
.buttons {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--color-red-200);
  align-self: stretch;
  border-radius: var(--br-5xs);
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.icongoogleOriginal {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
.loginNow1 {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.buttons1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--primary-weak);
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.alreadyHaveAn,
.logIn {
  position: relative;
  line-height: 100%;
  text-transform: capitalize;
}
.logIn {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-red-200);
}
.alreadyHaveAnAccountParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--text-tertiary);
}
.buttonsParent,
.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonsParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  color: var(--azure-700);
}
.signUp {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 25rem;
  justify-content: center;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--body-large-semibold-size);
  color: var(--text-secondary);
  font-family: var(--body-large-semibold);
}
.signUpWrapper {
  position: relative;
  width: 25rem;
  height: 26.75rem;
}
.bgLogin,
.signup {
  background-color: var(--white);
  height: 56.25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.bgLogin {
  width: 54.19rem;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4.94rem 9.75rem;
  box-sizing: border-box;
}
.signup {
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: 3.5rem;
  font-family: var(--body-large-semibold);
}
